<!DOCTYPE html >
<html lang="ko"></html>
<head>
    <title>현재 주문</title>
</head>
<script>
const a = `http://localhost:1029/stores/AAA/tables/5/menus/소주/delete`
function hey() {
    console.log('Hello');
}
hey()
</script>
<body>
    <div>
        <a href="http://localhost:1029/stores/AAA/tables/5/menus">메뉴판 보기</a>
        <!--반복문-->
        <!--result.orders에 있는거 반복문으로 꺼내기-->
        <h1>주문한 메뉴</h1>
        <p>소주: 4000 X 7</p>
        <a href="http://localhost:1029/stores/AAA/tables/5/menus/소주/modifyPage">수정</a>
        <button onclick="delete();">삭제</button>
        <!--합계 금액-->
        <!--result.orderSum-->
        <p>합계 28000원</p>
        <!--주문 총 갯수-->
        <!--result.orderCounts-->
        <p>수량 7개</p>
        <!--정산하는 a 링크-->
    </div>
</body>
