- env = process.env;

doctype html 
html(lang='ko')

head 
    title #{pageTitle}

body
    each i in result
        article
            p 테이블 번호: #{i.tableNumber}
            p 테이블 합계: #{i.sum}
            p 테이블 시작: #{i.createdAt}


