- env = process.env;

doctype html 
html(lang='ko')

head 
    title #{pageTitle}

body
    form(action=env.URL+'/stores/'+storeID+'/freeBoards/posts/'+postID+'/modify' method="POST")
        p
            input(placeholder="제목", name="title", value=result.title, type="text", required)
        p
            input(placeholder="내용", name="contents", value=result.contents, type="text", required)
        p
            input(type="submit", value="수정")