- env = process.env;

doctype html 
html(lang='ko')

head 
    title #{pageTitle}
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/StyleSheets/Layout.css')

body
    form(action=env.URL+'/auth/login' method="POST")
        p
            input(placeholder="이메일", name="email", type="email", required)
        p
            input(placeholder="비밀번호", name="pw", type="password", required)
        p
            input(type="submit", value="로그인")