- env = process.env;

include Layout/adminMenuBar.pug

body
    form(action=`/stores/${storeID}/tables/${tableNumber}/menus/${menuName}/modify` method="POST")
        p
            input(placeholder="수량", name="count", value=foundTableOrderCount, type="number", required)
        p
            input(type="submit", value="수정")