header {
    height: 75px;
    padding: 1rem;
    color: white;
    background: teal;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 90%
}
a {
    text-decoration: none;
    color: black;
}
body {
    padding-top: 120px;
}
li {
    float: left;
    justify-content: space-around;
}