header {
    height: 75px;
    padding: 1rem;
    color: white;
    background: rgb(255, 196, 0);
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 90%
}
a {
    border-radius: 50px;
    border: 2px solid black;
    text-decoration: none;
    text-align: center;
    color: black;
    display: flex;
    font-size : 20px;
}
body {
    padding-top: 120px;
}
li {
    display: flex;
    flex-direction: column;
    font-size : 15px;
}
input {
    font-size : 15px;
    float: right;
}
button {
    font-size : 15px;
}
p {
    display: flex;
    flex-direction: column;
    font-size : 15px;
}
time {
    font-size : 15px;
}