include adminTopLayout.pug

block header
    header 
        h1
            a(href=`${env.URL}/stores/${storeID}/admin/tableStatus`) Admin
        nav 
            ul 
                li 
                    a(href=`${env.URL}/stores/${storeID}/tableSelect`) 테이블 추가